body{
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Roboto Slab';font-size: 22px;
}
h1{
    font-size: 30px;
}
.main{
    background-color: #4B0082;
    text-align: center;
}
.main-text{
    display: flex;
    width: 310px;
}
.main-icon{
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.description{
    margin-left: 20px;
    text-align: left;
}
.login-btn{
    background-color:#5072A7;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.login-btn:hover{
    cursor: pointer;
}
.user-info{
    text-align: center;
}
.text-for-new-user{
    position: relative;
    top: 250px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.add-place-btn{
    font-size: 16px;
    background-color: #5072A7;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}