<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places Remember</title>
    <link rel="stylesheet" href="../app/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="main">
            <div class="main-text">
                <h1>
                    Places Remember
                </h1>
                <img src="../app/static/images/map.png" alt="icon" class="main-icon">
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>