{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
        <div class="description">
            <h2>Добро пожаловать в web-приложение Places Remember! <br>
                Places Remember предоставляет вам возможность сохранять ваши впечатления о посещенных местах. <br>
                Здесь вы можете указать местоположение на карте,
                название места и добавить комментарий о вашем опыте.
                Как это работает:
            </h2>
            <ul>
                <li>Добавление места на карте: <br>
                    Вы можете выбрать место на карте, отметив его географические
                    координаты или просто указав его на интерактивной карте.
                </li>
                <li>
                    Указание названия:<br>
                    Дайте название вашему посещенному месту. Это может быть название города, <br>
                    достопримечательности или любого другого уникального места.
                </li>
                <li>
                    Добавление комментария: <br>
                    Опишите свои впечатления о месте в комментарии.<br> Расскажите, что вам понравилось,
                     какие особенности вы отметили или просто сохраните важные заметки о своем посещении.
                </li>
            </ul>
        </div>
        <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти</a>
</div>
{% endblock %}